.game {
  .game-grid {
    width: 100%;
    height: 100%;

    background: #808080;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(22, 1fr);
    grid-gap: 0;

    .grid-background {
      background: black;
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 2;
      grid-row-end: 22;
    }
  }

  .block {
    &.t-block { background: #9F23ED; }
    &.s-block { background: #26EE2B; }
    &.z-block { background: #ED0C19; }
    &.j-block { background: #0A22ED; }
    &.l-block { background: #ED9F26; }
    &.i-block { background: #29F0F0; }
    &.o-block { background: #F0EE34; }
  }
}
